@import url('https://fonts.cdnfonts.com/css/sf-pro-display');  

#statusBar {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    color: black;
}

#clockLocation {
    margin-left: 5vh;
    width: 20%;
}

#clock {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold; 
    font-size: 1.7vh;   
}

#gps {
    position: absolute;
    margin-left: 1vh;
    margin-top: 0.2vh;
}

#mobileWifiBattery {
    margin-right: 9%;
    display: flex;
    justify-content: space-between;
    width: 20%;
}