#notiIcon {
    color: white;
    background-color: white;
    transition: all 0.3s;
}

#notiIcon:hover {
    color: gray;
    background-color: gray;
}

#noti {
    width: 3vh;
    height: 2.4vh;
}

#notiDot {
    width: 0.6vh;
    height: 0.6vh;
    border-radius: 50%;
    background-color: inherit;
}

.modal-enter {
    opacity: 0;
}
.modal-enter-active {
    opacity: 1;
    transition: background 0.3s;
}
.modal-exit {
    opacity: 1;
}
.modal-exit-active {
    opacity: 0;
    transition: background 0.3s;
}