#modiPage {
    /* background-image: url('../../public/img/MODIFY.jpg'); */
    /* background-size: cover; */
    /* box-sizing: border-box; */
    padding: 5.4vh 0 0 0;
}

#modiEvent {
    margin-top: 4vh;
    padding: 0 2.3vh 0 2.3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modiEventElem {
    padding: 0.5vh 1vh 0.5vh 1vh;
    border-radius: 1vh;
    transition: background 0.2s;
}

.clicked {
    background-color: var(--purple);
    color: white;
}

#modiEventActivity {
}

#modiEventLocation {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#modiEventTime {
}

.modiEventElem:hover {
    background-color: rgb(200,200,200);
}