#notiCompLists {
    height: 100%;
    overflow-y: scroll;
    margin: 10vh var(--padding);
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
}

#notiCompLists::-webkit-scrollbar {
	display: none 
}