#feel {
    --feelMargin: 1vh;
    margin: 0 calc(var(--feelMargin) * -1);
    padding: var(--feelMargin);
    /* background-color: rgba(248, 247, 255, 0.5); */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2vh;
}

#feelButtons {
    display: flex;
    justify-content: space-between;
}

.feelButton {
    text-align: center;
    border-radius: 1vh;
    font-size: 1.4vh;
    padding: 1vh 0.5vh;
    /* background-color: white; */
    width: 20%;
    transition: background 0.3s;
}

.feelButtonImg {
    width: 3vh;
}

.feelButton:hover {
    background-color: white;
}