#weather { 
    display: flex;
    justify-content: space-between;
}

#weatherLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#textInfo {
    letter-spacing: 0.04vh;
}

#buttonInfos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vh;
}

.buttonInfo {
    border: 0.2vh solid black;
    border-radius: 1.5vh;
    font-size: 1.3vh;
    padding: 0.2vh 0.8vh 0.2vh 0.8vh;
}

#weatherRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#iconTemp {
    position: relative;
    display: flex;
    justify-content: end;
    /* background-color: aqua; */
}

#weatherIcon {
    /* filter: drop-shadow(0 0 1vh black); */
}

#currentTemp {
    margin: -2.4vh 0vh;
    font-weight: lighter;
    font-size: 10vh;
    text-align: right;
    letter-spacing: -0.4vh;
    /* background-color: red; */
}

#highLowTemp {
    margin-top: 0.3vh;
    font-size: 1.5vh;
    text-align: right;
    text-wrap: nowrap;
}