#weather { 
    display: flex;
    justify-content: space-between;
}

#weatherLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#textInfo {
    letter-spacing: 0.04vh;
}

#buttonInfos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.buttonInfo {
    border: 0.2vh solid black;
    border-radius: 1.5vh;
    font-size: 1.3vh;
    margin: 0.5vh 0.5vh 0 0;
    padding: 0.2vh 0.8vh 0.2vh 0.8vh;
}

#iconTemp {
    position: relative;
    height: 8.5vh;
}

#weatherIcon {
    width: 12vh;
    margin-top: -1.5vh;
}

#currentTemp {
    position: absolute;
    width: 100%;
    top: 0.6vh;
    font-weight: lighter;
    font-size: 7vh;
    text-align: center;
    letter-spacing: -0.4vh;
}

#highLowTemp {
    margin-top: 0.3vh;
    font-size: 1.5vh;
    text-align: center;
}