#scroll {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    pointer-events: none;
}

#homeScroll {
    position: absolute;
    bottom: -20%;
    width: 99%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    border-radius: 4vh 4vh 0vh 0vh;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.7vh);
    box-shadow: 0 1vh 3vh 2vh rgba(0, 0, 0, 0.2);
    padding: var(--padding);
    box-sizing: border-box;
    pointer-events: auto;
}

#feel {
    margin-top: 1vh;
}

#scroll::-webkit-scrollbar {
	display:none 
}

.feel-enter {
    opacity: 0;
}

.feel-enter-active {
    opacity: 1;
    transition: all 0.5s;
}

.feel-exit {
    opacity: 1;
}

.feel-exit-active {
    opacity: 0;
    transition: all 0.5s;
}