.notiComp {
    background-color: var(--lightPurple);
    border-radius: 1.5vh;
    padding: 1vh 3vh 1vh 1vh;
    margin-bottom: 0.7vh;
    display: flex;
    transition: background 0.3s ease;
}

.notiComp:hover {
    background-color: rgb(230,230,230);
}

.notiCompDotAndIcon {
    display: flex;
    align-items: center;
}

.notiCompDot {
    width: 0.6vh;
    height: 0.6vh;
    border-radius: 50%;
    margin-right: 1.9vh;
    background-color: var(--purple);
}

.notiCompContent {
    margin-left: 1.4vh;
    font-size: 1.3vh;
    font-weight: 200;
    align-self: center;
}

