#iPhone {
    /* position: absolute; */
    position: relative;
    height: 100vh;
    width: 50vh;
    margin: auto;
    animation: appear 1s ease-out;
}

#screen {
    position: relative;
    display: block;
    margin: auto;
    top: 5.9vh;
    width: 78%;
    height: 84%;
    background-color:beige;
    border-radius: 12%/6%;
    overflow: hidden;
    font-family: 'SF Pro Rounded';
}

#iPhoneFrame {
    position: absolute;
    display: block;
    top: 2.1vh;
    width: 93%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none; 
}

@keyframes appear {
    from{
        bottom: -2vh;
        opacity: 0%;
    }
    to{
        bottom: 0vh;
        opacity: 100%;
    }
}