hr {border-width: 0.11vh; border-style: solid;}
ol {padding: 0; margin: 0;}

#iPhone {
    position: relative;
    height: 100vh;
    width: 50vh;
    margin: auto;
    font-size: 1.7vh;
    animation: appear 2s;
}

#screen {
    position: relative;
    display: block;
    margin: auto;
    top: 5.9vh;
    width: 78%;
    height: 84%;
    border-radius: 4vh;
    overflow: hidden;
    font-family: 'SF Pro Rounded';
    --purple: #5A3FFF;
    --pink: rgb(255, 118, 118);
    --lightPurple: #F8F7FF;
    --padding: 2.3vh;
    cursor: default;
    user-select: none;
}

#iPhoneFrame {
    position: absolute;
    display: block;
    top: 2.1vh;
    width: 93%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none; 
}

#homeIndicator {
    position: absolute;
    bottom: 11vh;
    left: 50%;
    transform: translateX(-50%);
    width: 13vh;
    height: 0.5vh;
    background-color: black;
    border-radius: 1vh;
}

@keyframes appear {
    from{
        bottom: -4vh;
        opacity: 0;
    }
    to{
        bottom: 0vh;
        opacity: 1;
    }
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.sidePage-enter {
    transform: translateX(39vh);
    box-shadow: -2vh 0 3vh 3vh rgba(0, 0, 0, 0);
}
.sidePage-enter-active {
    transform: translateX(0);
    box-shadow: -2vh 0 3vh 3vh rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}
.sidePage-exit {
    transform: translateX(0);
    box-shadow: -2vh 0 3vh 3vh rgba(0, 0, 0, 0.1);
}
.sidePage-exit-active {
    transform: translateX(39vh);
    box-shadow: -2vh 0 3vh 3vh rgba(0, 0, 0, 0);
    transition: all 0.5s;
}