#iPhone {
    position: relative;
    height: 100vh;
    width: 50vh;
    margin: auto;
    font-size: 1.7vh;
    animation: appear 2s;
}

#screen {
    position: relative;
    display: block;
    margin: auto;
    top: 5.9vh;
    width: 78%;
    height: 84%;
    border-radius: 4vh;
    overflow: hidden;
    font-family: 'SF Pro Rounded';
    --purple: #7560FA;
    --lightPurple: #F9F7FF;
    --padding: 2.3vh;
}

.purple {
    color: var(--purple);
}

#iPhoneFrame {
    position: absolute;
    display: block;
    top: 2.1vh;
    width: 93%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none; 
}

@keyframes appear {
    from{
        bottom: -4vh;
        opacity: 0%;
    }
    to{
        bottom: 0vh;
        opacity: 100%;
    }
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.sidePage-enter {
    transform: translateX(39vh);
    box-shadow: -2vh 0 3vh 3vh rgba(0, 0, 0, 0);
}

.sidePage-enter-active {
    transform: translateX(0);
    box-shadow: -2vh 0 3vh 3vh rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.sidePage-exit {
    transform: translateX(0);
    box-shadow: -2vh 0 3vh 3vh rgba(0, 0, 0, 0.1);
}

.sidePage-exit-active {
    transform: translateX(39vh);
    box-shadow: -2vh 0 3vh 3vh rgba(0, 0, 0, 0);
    transition: all 0.5s;
}