#viewer {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    --borderWidth: 0.2vh;
}

#slider {
    display: flex;
    gap: 1vh;
    position: absolute;
    left: 0vh;
}

.hourCarouselItem {
    width: 3.5vh;
    height: 5vh;
    background-color: white;
    border-radius: 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.hourCarouselItem:hover {
    color: gray;
}

.hourCarouselItemClicked {
    border: solid var(--borderWidth) var(--purple);
}

.carouselWeatherIcon {
    width: 1.5vh;
    height: 1.5vh;
    pointer-events: none;
    color: lightgray;
}

.minuteCarouselItem {
    width: 3.5vh;
    height: 2.6vh;
    background-color: white;
    border-radius: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.minuteCarouselItem:hover {
    color: gray;
}

.minuteCarouselItemClicked {
    border: solid var(--borderWidth) var(--purple);
}