#viewer {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    --borderWidth: 0.2vh;
}

#slider {
    display: flex;
    gap: 1vh;
    position: absolute;
    left: 0vh;
}

.activityCarouselItem {
    width: 10vh;
    height: 14.2vh;
    border: solid var(--borderWidth) gray;
    border-radius: 1vh;
    overflow: hidden;
    background-color: white;
}

.activityCarouselImg {
    height: 10vh;
    pointer-events: none;
}

.carouselTitle {
    font-size: 1.4vh;
    margin-left: 0.5vh;
}

.carouselBody {
    font-size: 1.3vh;
    font-weight: 300;
    margin: 0 0.5vh;
}

.hourCarouselItem {
    width: 3.5vh;
    background-color: white;
    border-radius: 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.4vh 0;
    box-sizing: border-box;
}

.hourCarouselItem:hover {
    color: gray;
}

.hourCarouselItemClicked {
    border: solid var(--borderWidth) var(--purple);
    padding: calc(0.4vh - var(--borderWidth)) 0;
}

.carouselWeatherIcon {
    width: 1.5vh;
    height: 1.5vh;
    pointer-events: none;
    color: lightgray;
}

.minuteCarouselItem {
    width: 3.5vh;
    height: 2.6vh;
    background-color: white;
    border-radius: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.minuteCarouselItem:hover {
    color: gray;
}

.minuteCarouselItemClicked {
    border: solid var(--borderWidth) var(--purple);
    padding: 0;
}