#viewer {
    position: relative;
    width: 100%;
    height: 10vh;
    overflow: hidden;
}

#slider {
    display: flex;
    gap: 1vh;
    position: absolute;
    left: 0vh;
    pointer-events: none;
}

.item {
    width: 10vh;
    height: 10vh;
    background-color: red;
}