.event {
    display: flex;
    justify-content: space-between;
    padding: 0.6vh var(--padding);
    border-radius: 1.3vh;
    transition: color 0.2s ease;
}

.needModify {
    color: var(--purple);
}

.eventActivity {
    font-weight: 300;
    font-size: 1.6vh;
}

.eventLocation {
    font-weight: 200;
    font-size: 1.4vh;
}

.eventTime {
    font-size: 1.4vh;
    margin-bottom: 0.2vh;
    text-align: right;
}

.event:hover {
    color: gray;
}