#title {
    font-size: 2.2vh;
    margin-bottom: 0.5vh;
    display: flex;
}

#titleBox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 9.5vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.3vh);
}

.titleBoxShadow {
    box-shadow: 0 1vh 10vh 0vh rgba(100,100,100,0.1);
}

#titleLeft {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 2.4vh;
}

#backward {
    color: var(--purple);
    width: 1vh;
    height: 1.7vh;
}

#backward:hover {
    color: gray;
}

#titleText {
    margin-left: 1.2vh;
    text-wrap: nowrap;
}

#titleRight {
    position: absolute;
    top: 6.2vh;
    right: 2.6vh;
    font-size: 1.7vh;
    color: var(--purple);
    text-align: right;
}

#titleRight:hover {
    color: gray;
}
